[url "git@github.com:"]
[user]
	email = nd.12021218@gmail.com
	name = nd-02110114
[diff]
	algorithm = histogram
	renames = true
[grep]
	lineNumber = true
	threads = 16
	fallbackToNoIndex = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[ghq]
    root = ~/code
