name: Test for all tasks
on:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest]
    steps:
      - uses: actions/checkout@v6
      - name: brew install for MacOS
        if: runner.os == 'macOS'
        run: |
          sed '/^cask/d' ./brew/Brewfile > ./brew/Brewfile.tmp
          brew bundle --file ./brew/Brewfile.tmp
      - name: setup dotfiles
        run: make dotfiles
      - name: Override the default settings on Mac
        if: runner.os == 'macOS'
        run: make mac
